<header class="bg-base-200 shadow-2xl fixed top-0 left-0 right-0 z-50">
  
  <div class="p-0 navbar px-4 bg-base-100">
    {{!-- LOGO --}}
    <div class="flex-1">
      <div class=" h-[4rem] flex items-center">
        <a 
          class="btn btn-ghost normal-case text-2xl" 
          href="{{@site.url}}
        ">
          <span class="bg-clip-text text-gradient-ps font-bold">
            {{@site.title}}
          </span>
        </a>
      </div>
      {{!-- <a class="gh-burger" role="button" aria-label="menu">
        <div class="gh-burger-box">
          <div class="gh-burger-inner"></div>
        </div>
      </a> --}}
    </div>

    {{!-- MAIN NAVIGATION --}}
    {{!-- <nav class="
      flex-none prose
      prose-ul:menu prose-ul:menu-horizontal prose-ul:px-1
      prose-li:h-fit prose-li:m-0
      prose-a:btn prose-a:btn-ghost prose-a:rounded-2xl prose-a:h-fit prose-a:m-0
      ">
        {{navigation}}
    </nav> --}}
    <div class="flex gap-4" id="header-right">
      <nav>
        {{#foreach @site.navigation}}
          <a class="btn btn-ghost btn-sm" href="{{url}}">{{label}}</a>
        {{/foreach}}
      </nav>
    </div>
    <script class="hidden">
      const themes = ['default', 'cupcake', 'tuttifrutti']
      const defaultTheme = localStorage.getItem('theme') || 'default'

      const html = document.querySelector('body')
      html.setAttribute('data-theme', defaultTheme)
      const changeTheme = (theme) => {
        html.setAttribute('data-theme', theme)
        localStorage.setItem('theme', theme)
        const ul = document.querySelector('#theme-dropdown')
        const buttons = ul.querySelectorAll('button')
        buttons.forEach(button => button.classList.remove('active'))
        const index = themes.findIndex(t => t === theme)
        buttons[index].classList.add('active')
      }

      const label = document.createElement('label')
      label.classList.add('select', 'select-xs', 'flex', 'items-center', 'm-1')
      label.innerText = 'Thème'
      label.setAttribute('tabindex', '0')
      const options = themes.map(theme => {
        const li = document.createElement('li')
        const button = document.createElement('button')
        button.innerText = theme
        button.addEventListener('click', () => changeTheme(theme))
        if (theme === defaultTheme) button.classList.add('active')
        li.append(button)
        return li
      })
      const ul = document.createElement('ul')
      ul.classList.add('dropdown-content', 'menu', 'p-2', 'shadow', 'bg-base-300', 'rounded-box', 'border', 'border-base-content', 'border-opacity-50')
      ul.append(...options)
      ul.id = 'theme-dropdown'
      const dropdownContainer = document.createElement('div')
      dropdownContainer.classList.add('dropdown', 'dropdown-end')
      dropdownContainer.append(label)
      dropdownContainer.append(ul)
      const container = document.querySelector('#header-right')
      container.append(dropdownContainer)
    </script>
  </div>

  <div class="bg-base-200 bg-gradient-to-r from-primary to-secondary px-4 py-1"></div>

</header>