<header class="bg-base-200 shadow-2xl fixed top-0 left-0 right-0 z-50">
  
  <div class="p-0 navbar px-4 bg-base-100">
    {{!-- LOGO --}}
    <div class="flex-1">
      <div class=" h-[4rem] flex items-center">
        <a 
          class="btn btn-ghost normal-case text-2xl" 
          href="{{@site.url}}
        ">
          <span style="-webkit-text-fill-color: transparent;" class="bg-clip-text bg-gradient-to-r from-primary to-secondary font-bold">
            {{@site.title}}
          </span>
        </a>
      </div>
      {{!-- <a class="gh-burger" role="button" aria-label="menu">
        <div class="gh-burger-box">
          <div class="gh-burger-inner"></div>
        </div>
      </a> --}}
    </div>

    {{!-- MAIN NAVIGATION --}}
    {{!-- <nav class="
      flex-none prose
      prose-ul:menu prose-ul:menu-horizontal prose-ul:px-1
      prose-li:h-fit prose-li:m-0
      prose-a:btn prose-a:btn-ghost prose-a:rounded-2xl prose-a:h-fit prose-a:m-0
      ">
        {{navigation}}
    </nav> --}}
    <nav>
      {{#foreach @site.navigation}}
        <a class="btn btn-ghost btn-sm" href="{{url}}">{{label}}</a>
      {{/foreach}}
    </nav>
  </div>

  <div class="bg-base-200 bg-gradient-to-r from-primary to-secondary px-4 py-1"></div>

</header>