{{!< default}}

<div class="gh-page">

  <div class="mb-16 mt-20">
    {{#tag}}
      <header 
        class="gh-page-head relative" 
        style="{{#if feature_image}}background-image: url({{feature_image}}); background-size: cover{{/if}}"
      >

        <div class="absolute z-10 bg-gradient-to-tr from-secondary to-accent left-0 right-0 top-0 bottom-0 opacity-75 brightness-[25%]"></div>

        <h1 class="relative z-20 text-white">{{name}}</h1>

        <p class="relative z-20 text-white">
          {{#if description}}
            {{description}}
          {{else}}
            A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
          {{/if}}
        </p>

      </header>
    {{/tag}}
  </div>

  <div class="gh-container">
    {{> "feed"}}
  </div>
</div>
